// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

// Font Variables
$bodyFonts: 'Lato', 'Helvetica', sans-serif;
$headerFonts: 'Forma DJR Micro', Arial, sans-serif;

$timeline-width: 240px;

$primary: #145ba7;
$primaryWhite: #ffffff;
$primaryBlack: #000000;

$secondary: #122c53;
$secondaryGreen: #1e9b50;
$secondaryRed: #f3492e;
$secondaryOrange: #ff9233;
$secondaryYellow: #ffcb4b;
$secnodaryPink: #ff7378;
